<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>

        <%- include("./partials/nav.ejs") %>


            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto magni provident, neque
                    consequatur fuga, unde, sunt sit facere consectetur iusto quis dolore doloremque? Consectetur
                    numquam
                    eius
                    asperiores esse excepturi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto magni provident, neque
                    consequatur fuga, unde, sunt sit facere consectetur iusto quis dolore doloremque? Consectetur
                    numquam
                    eius
                    asperiores esse excepturi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto magni provident, neque
                    consequatur fuga, unde, sunt sit facere consectetur iusto quis dolore doloremque? Consectetur
                    numquam
                    eius
                    asperiores esse excepturi.</p>
            </div>

            <%- include("./partials/footer.ejs") %>

    </body>

</html>